In [ ]:
!pip install vanna[bigquery]

Collecting vanna[bigquery]
  Downloading vanna-0.6.0-py3-none-any.whl (177 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 177.8/177.8 kB 1.1 MB/s eta 0:00:00
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from vanna[bigquery]) (2.31.0)
Requirement already satisfied: tabulate in /usr/local/lib/python3.10/dist-packages (from vanna[bigquery]) (0.9.0)
Requirement already satisfied: plotly in /usr/local/lib/python3.10/dist-packages (from vanna[bigquery]) (5.15.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from vanna[bigquery]) (2.0.3)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.10/dist-packages (from vanna[bigquery]) (0.5.0)
Collecting kaleido (from vanna[bigquery])
  Downloading kaleido-0.2.1-py2.py3-none-manylinux1_x86_64.whl (79.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 79.9/79.9 MB 9.0 MB/s eta 0:00:00
Requirement already satisfied: flask in /usr/local/lib/python3.10/dist-packages (from vanna[bigquery]) (2.2.5)
Collecting flask-sock (from vanna[bigquery])
  Downloading flask_sock-0.7.0-py3-none-any.whl (4.0 kB)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (from vanna[bigquery]) (2.0.30)
Requirement already satisfied: google-cloud-bigquery in /usr/local/lib/python3.10/dist-packages (from vanna[bigquery]) (3.21.0)
Requirement already satisfied: Werkzeug>=2.2.2 in /usr/local/lib/python3.10/dist-packages (from flask->vanna[bigquery]) (3.0.3)
Requirement already satisfied: Jinja2>=3.0 in /usr/local/lib/python3.10/dist-packages (from flask->vanna[bigquery]) (3.1.4)
Requirement already satisfied: itsdangerous>=2.0 in /usr/local/lib/python3.10/dist-packages (from flask->vanna[bigquery]) (2.2.0)
Requirement already satisfied: click>=8.0 in /usr/local/lib/python3.10/dist-packages (from flask->vanna[bigquery]) (8.1.7)
Collecting simple-websocket>=0.5.1 (from flask-sock->vanna[bigquery])
  Downloading simple_websocket-1.0.0-py3-none-any.whl (13 kB)
Requirement already satisfied: google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.1 in /usr/local/lib/python3.10/dist-packages (from google-cloud-bigquery->vanna[bigquery]) (2.11.1)
Requirement already satisfied: google-auth<3.0.0dev,>=2.14.1 in /usr/local/lib/python3.10/dist-packages (from google-cloud-bigquery->vanna[bigquery]) (2.27.0)
Requirement already satisfied: google-cloud-core<3.0.0dev,>=1.6.0 in /usr/local/lib/python3.10/dist-packages (from google-cloud-bigquery->vanna[bigquery]) (2.3.3)
Requirement already satisfied: google-resumable-media<3.0dev,>=0.6.0 in /usr/local/lib/python3.10/dist-packages (from google-cloud-bigquery->vanna[bigquery]) (2.7.0)
Requirement already satisfied: packaging>=20.0.0 in /usr/local/lib/python3.10/dist-packages (from google-cloud-bigquery->vanna[bigquery]) (24.0)
Requirement already satisfied: python-dateutil<3.0dev,>=2.7.2 in /usr/local/lib/python3.10/dist-packages (from google-cloud-bigquery->vanna[bigquery]) (2.8.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->vanna[bigquery]) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->vanna[bigquery]) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->vanna[bigquery]) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->vanna[bigquery]) (2024.6.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->vanna[bigquery]) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas->vanna[bigquery]) (2024.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas->vanna[bigquery]) (1.25.2)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from plotly->vanna[bigquery]) (8.3.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy->vanna[bigquery]) (4.12.1)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy->vanna[bigquery]) (3.0.3)
Requirement already satisfied: googleapis-common-protos<2.0.dev0,>=1.56.2 in /usr/local/lib/python3.10/dist-packages (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.1->google-cloud-bigquery->vanna[bigquery]) (1.63.1)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0.dev0,>=3.19.5 in /usr/local/lib/python3.10/dist-packages (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.1->google-cloud-bigquery->vanna[bigquery]) (3.20.3)
Requirement already satisfied: grpcio<2.0dev,>=1.33.2 in /usr/local/lib/python3.10/dist-packages (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.1->google-cloud-bigquery->vanna[bigquery]) (1.64.1)
Requirement already satisfied: grpcio-status<2.0.dev0,>=1.33.2 in /usr/local/lib/python3.10/dist-packages (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.1->google-cloud-bigquery->vanna[bigquery]) (1.48.2)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from google-auth<3.0.0dev,>=2.14.1->google-cloud-bigquery->vanna[bigquery]) (5.3.3)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.10/dist-packages (from google-auth<3.0.0dev,>=2.14.1->google-cloud-bigquery->vanna[bigquery]) (0.4.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.10/dist-packages (from google-auth<3.0.0dev,>=2.14.1->google-cloud-bigquery->vanna[bigquery]) (4.9)
Requirement already satisfied: google-crc32c<2.0dev,>=1.0 in /usr/local/lib/python3.10/dist-packages (from google-resumable-media<3.0dev,>=0.6.0->google-cloud-bigquery->vanna[bigquery]) (1.5.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from Jinja2>=3.0->flask->vanna[bigquery]) (2.1.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil<3.0dev,>=2.7.2->google-cloud-bigquery->vanna[bigquery]) (1.16.0)
Collecting wsproto (from simple-websocket>=0.5.1->flask-sock->vanna[bigquery])
  Downloading wsproto-1.2.0-py3-none-any.whl (24 kB)
Requirement already satisfied: pyasn1<0.7.0,>=0.4.6 in /usr/local/lib/python3.10/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3.0.0dev,>=2.14.1->google-cloud-bigquery->vanna[bigquery]) (0.6.0)
Collecting h11<1,>=0.9.0 (from wsproto->simple-websocket>=0.5.1->flask-sock->vanna[bigquery])
  Downloading h11-0.14.0-py3-none-any.whl (58 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 58.3/58.3 kB 4.2 MB/s eta 0:00:00
Installing collected packages: kaleido, h11, wsproto, simple-websocket, flask-sock, vanna
Successfully installed flask-sock-0.7.0 h11-0.14.0 kaleido-0.2.1 simple-websocket-1.0.0 vanna-0.6.0 wsproto-1.2.0

In [ ]:
import vanna
from vanna.remote import VannaDefault

In [ ]:
# put the email address you used to sign up at vanna.ai
api_key = vanna.get_api_key('xxxxxxxxx@gmail.com')

Check your email for the code and enter it here: 46QIGH

In [ ]:
# put the model name you created at vanna.ai for the specific dataset you want to analyze
vanna_model_name = 'jobposts_ex'

In [ ]:
vn = VannaDefault(model=vanna_model_name, api_key=api_key)

In [ ]:
ddl_statements = """
CREATE TABLE `hultaibigdata.jobs_data_analyst.postings`
(
  title STRING,
  company_name STRING,
  location STRING,
  via STRING,
  description STRING,
  extensions STRING,
  posted_at STRING,
  schedule_type STRING,
  work_from_home BOOL,
  salary STRING,
  search_term STRING,
  search_location STRING,
  commute_time FLOAT64,
  salary_pay STRING,
  salary_rate STRING,
  salary_avg FLOAT64,
  salary_min FLOAT64,
  salary_max FLOAT64,
  salary_hourly FLOAT64,
  salary_yearly FLOAT64,
  salary_standardized FLOAT64,
  description_tokens STRUCT<list ARRAY<STRUCT<element STRING>>>,
  index INT64,
  date_time TIMESTAMP
);
"""

In [ ]:
# training based on the table schema
vn.train(ddl = ddl_statements)

Adding ddl:
CREATE TABLE `hultaibigdata.jobs_data_analyst.postings`
(
  title STRING,
  company_name STRING,
  location STRING,
  via STRING,
  description STRING,
  extensions STRING,
  posted_at STRING,
  schedule_type STRING,
  work_from_home BOOL,
  salary STRING,
  search_term STRING,
  search_location STRING,
  commute_time FLOAT64,
  salary_pay STRING,
  salary_rate STRING,
  salary_avg FLOAT64,
  salary_min FLOAT64,
  salary_max FLOAT64,
  salary_hourly FLOAT64,
  salary_yearly FLOAT64,
  salary_standardized FLOAT64,
  description_tokens STRUCT<list ARRAY<STRUCT<element STRING>>>,
  index INT64,
  date_time TIMESTAMP
);

'178673-ddl'

In [12]:
vn.train(question = "What are the top 10 most commonly mentioned skills that have average price more than 80000 and title have word senior", sql="""
WITH current_data as(
  SELECT
  *
FROM`hultaibigdata.jobs_data_analyst.postings`
WHERE LOWER(title) LIKE '%senior%'
  AND salary_avg > 80000
)
SELECT
  list.element AS skill, COUNT(*) AS frequency
FROM
  current_data, UNNEST(description_tokens.list) AS list
GROUP BY skilla
ORDER BY frequency DESC
LIMIT 10;
""")

'520b0d2f60918a2d2b2f517dd6906d60-sql'

In [ ]:
vn.train(question = "What percent of job posts provide salary information?", sql="""
SELECT
  100*count(salary_standardized) / count(*)
FROM
  `hultaibigdata.jobs_data_analyst.postings`;
""")

'dd5d0e8144407382365dcfb0cc99345d-sql'

In [ ]:
vn.train(question = "What percent of job posts appearing since January 2023 provide salary information?", sql="""
SELECT
  100*count(salary_standardized) / count(*)
FROM
  `hultaibigdata.jobs_data_analyst.postings`
WHERE
  date_time > DATE('2023-01-01');
""")

'726162b9ac31754ecfce2fe4248b8ffa-sql'

In [ ]:
vn.train(question = "Show titles, company names, and dates of 5 most recent job posts", sql="""
SELECT
  title, company_name, date_time
FROM
  `hultaibigdata.jobs_data_analyst.postings`
ORDER BY date_time DESC
LIMIT 5;
""")

'35881cdb14b1869fe9e74fbbdbbd3edf-sql'

In [ ]:
vn.train(question = "Show the description and salary specification of the lowest paying job in the entire dataset", sql="""
SELECT
  description, salary
FROM
  `hultaibigdata.jobs_data_analyst.postings`
WHERE salary_standardized IS NOT NULL
ORDER BY salary_standardized ASC
LIMIT 1;
""")

'e3ad698ddb1d5f31e531addc4a19e1cd-sql'

In [ ]:
vn.train(question = "What is the mean annual salary among the posts where salary information is given?", sql="""
SELECT
  AVG(salary_standardized)
FROM
  `hultaibigdata.jobs_data_analyst.postings`;
""")

'80d6b1b12863730010c17ebfc103b21f-sql'

In [ ]:
vn.train(question = "What percent of job posts allow working from home (remote)?", sql="""
SELECT
  100*count(work_from_home) / count(*)
FROM
  `hultaibigdata.jobs_data_analyst.postings`;
""")

'c4516ef661dc85379664c2de8f695fc7-sql'

In [ ]:
vn.train(question = "What are the title, location, salary, and salary specification for the top 3 highest paying jobs in the entire dataset?", sql="""
SELECT
  title, location, salary_standardized, salary
FROM
  `hultaibigdata.jobs_data_analyst.postings`
ORDER BY salary_standardized DESC
LIMIT 3;
""")

'd3c6ff555e9b15913b87550739da95bd-sql'

In [ ]:
vn.train(question = "Show the top 5 listing channels for job posts with their post counts.", sql="""
SELECT
  via, count(*)
FROM
  `hultaibigdata.jobs_data_analyst.postings`
GROUP BY via
ORDER BY count(*) DESC
LIMIT 5;
""")

'96bdf09d227454cb96c5358294c7227b-sql'

In [ ]:
vn.train(question = "What types of schedule are represented in the dataset?", sql="""
SELECT
  DISTINCT schedule_type
FROM
  `hultaibigdata.jobs_data_analyst.postings`
""")

'5298101fe5e6fc6075c79792566b30f0-sql'

In [ ]:
vn.train(question = "What is the average salary of full-time jobs?", sql="""
SELECT
  AVG(salary_standardized)
FROM
  `hultaibigdata.jobs_data_analyst.postings`
WHERE
  schedule_type = 'Full-time';
""")

'747eced43dc70465e16a7ca830cd3898-sql'

In [ ]:
vn.train(question = "What are the top 10 most commonly mentioned skills?", sql="""
SELECT
  list.element AS skill, COUNT(*) AS frequency
FROM
  `hultaibigdata.jobs_data_analyst.postings`, UNNEST(description_tokens.list) AS list
GROUP BY skill
ORDER BY frequency DESC
LIMIT 10;
""")

'c3879d03f387289d6c2326ec65c0e712-sql'

In [ ]:
vn.train(question = "What are the top 5 most common job titles?", sql="""
SELECT
  title, COUNT(*)
FROM
  `hultaibigdata.jobs_data_analyst.postings`
GROUP BY title
ORDER BY COUNT(*) DESC
LIMIT 5;
""")

'19ab44e937db46a6e95ace8536721ba1-sql'

In [ ]:
vn.train(question = "What is the average annual salary for each of the top 15 job titles?", sql="""
SELECT title,
  AVG(salary_standardized) AS mean_salary
FROM `hultaibigdata.jobs_data_analyst.postings`
WHERE salary_standardized IS NOT NULL
GROUP BY title
ORDER BY mean_salary DESC
LIMIT 15;
""")

'c596bacabbbbfe286681228e026c4685-sql'

In [ ]:
vn.train(question = "What are the top 10 locations offering the highest salaries excluding working from home?", sql="""
SELECT location,
  AVG(salary_standardized) AS mean_salary
FROM `hultaibigdata.jobs_data_analyst.postings`
WHERE salary_standardized IS NOT NULL
AND (work_from_home IS NULL OR work_from_home IS FALSE)
GROUP BY location
ORDER BY mean_salary DESC
LIMIT 10;
""")

'59f09b2ed452833a7edeb75575592911-sql'

In [ ]:
# inspect training data
training_data = vn.get_training_data()
training_data

,id,training_data_type,question,content
0,319999-sql,sql,"Show titles, company names, and dates of 5 mos...","\nSELECT\n title, company_name, date_time\nFR..."
1,320000-sql,sql,Show the description and salary specification ...,"\nSELECT\n description, salary\nFROM\n `hult..."
2,320008-sql,sql,What are the top 10 most commonly mentioned sk...,"\nSELECT\n list.element AS skill, COUNT(*) AS..."
3,174282-ddl,ddl,None,\nCREATE TABLE `hultaibigdata.jobs_data_analys...
4,320007-sql,sql,What is the average salary of full-time jobs?,\nSELECT\n AVG(salary_standardized)\nFROM\n ...
5,320001-sql,sql,What is the mean annual salary among the posts...,\nSELECT\n AVG(salary_standardized)\nFROM\n ...
6,320006-sql,sql,What types of schedule are represented in the ...,\nSELECT\n DISTINCT schedule_type\nFROM\n `h...
7,319997-sql,sql,What percent of job posts provide salary infor...,\nSELECT\n 100*count(salary_standardized) / c...
8,320010-sql,sql,What is the average annual salary for each of ...,"\nSELECT title,\n AVG(salary_standardized) AS..."
9,319998-sql,sql,What percent of job posts appearing since Janu...,\nSELECT\n 100*count(salary_standardized) / c...
10,320002-sql,sql,What percent of job posts allow working from h...,\nSELECT\n 100*count(work_from_home) / count(...
11,320005-sql,sql,Show the top 5 listing channels for job posts ...,"\nSELECT\n via, count(*)\nFROM\n `hultaibigd..."
12,320009-sql,sql,What are the top 5 most common job titles?,"\nSELECT\n title, COUNT(*)\nFROM\n `hultaibi..."
13,320004-sql,sql,"What are the title, location, salary, and sala...","\nSELECT\n title, location, salary_standardiz..."
14,320011-sql,sql,What are the top 10 locations offering the hig...,"\nSELECT location,\n AVG(salary_standardized)..."

In [ ]:
vn.connect_to_bigquery(project_id='bigdata-ai2024pre-class')

In [11]:
from vanna.flask import VannaFlaskApp
VannaFlaskApp(vn, allow_llm_to_see_data=True).run()

Google Colab doesn't support running websocket servers. Disabling debug mode.

Your app is running at:
https://297fch08mj-496ff2e9c6d22116-8084-colab.googleusercontent.com/
 * Serving Flask app 'vanna.flask'
 * Debug mode: off
Info: None
None
SQL Prompt: [{'role': 'system', 'content': "You are a BigQuery SQL expert. Please help to generate a SQL query to answer the question. Your response should ONLY be based on the given context and follow the response guidelines and format instructions. \n===Tables \n\nCREATE TABLE `hultaibigdata.jobs_data_analyst.postings`\n(\n  title STRING,\n  company_name STRING,\n  location STRING,\n  via STRING,\n  description STRING,\n  extensions STRING,\n  posted_at STRING,\n  schedule_type STRING,\n  work_from_home BOOL,\n  salary STRING,\n  search_term STRING,\n  search_location STRING,\n  commute_time FLOAT64,\n  salary_pay STRING,\n  salary_rate STRING,\n  salary_avg FLOAT64,\n  salary_min FLOAT64,\n  salary_max FLOAT64,\n  salary_hourly FLOAT64,\n  salary_yearly FLOAT64,\n  salary_standardized FLOAT64,\n  description_tokens STRUCT<list ARRAY<STRUCT<element STRING>>>,\n  index INT64,\n  date_time TIMESTAMP\n);\n\n\n\nCREATE TABLE `hultaibigdata.jobs_data_analyst.postings`\n(\n  title STRING,\n  company_name STRING,\n  location STRING,\n  via STRING,\n  description STRING,\n  extensions STRING,\n  posted_at STRING,\n  schedule_type STRING,\n  work_from_home BOOL,\n  salary STRING,\n  search_term STRING,\n  search_location STRING,\n  commute_time FLOAT64,\n  salary_pay STRING,\n  salary_rate STRING,\n  salary_avg FLOAT64,\n  salary_min FLOAT64,\n  salary_max FLOAT64,\n  salary_hourly FLOAT64,\n  salary_yearly FLOAT64,\n  salary_standardized FLOAT64,\n  description_tokens STRUCT<list ARRAY<STRUCT<element STRING>>>,\n  index INT64,\n  date_time TIMESTAMP\n);\n\n\n===Response Guidelines \n1. If the provided context is sufficient, please generate a valid SQL query without any explanations for the question. \n2. If the provided context is almost sufficient but requires knowledge of a specific string in a particular column, please generate an intermediate SQL query to find the distinct strings in that column. Prepend the query with a comment saying intermediate_sql \n3. If the provided context is insufficient, please explain why it can't be generated. \n4. Please use the most relevant table(s). \n5. If the question has been asked and answered before, please repeat the answer exactly as it was given before. \n"}, {'role': 'user', 'content': 'What are the top 5 most common job titles?'}, {'role': 'assistant', 'content': '\nSELECT\n  title, COUNT(*)\nFROM\n  `hultaibigdata.jobs_data_analyst.postings`\nGROUP BY title\nORDER BY COUNT(*) DESC\nLIMIT 5;\n'}, {'role': 'user', 'content': 'What is the average annual salary for each of the top 15 job titles?'}, {'role': 'assistant', 'content': '\nSELECT title,\n  AVG(salary_standardized) AS mean_salary\nFROM `hultaibigdata.jobs_data_analyst.postings`\nWHERE salary_standardized IS NOT NULL\nGROUP BY title\nORDER BY mean_salary DESC\nLIMIT 15;\n'}, {'role': 'user', 'content': 'What are the title, location, salary, and salary specification for the top 3 highest paying jobs in the entire dataset?'}, {'role': 'assistant', 'content': '\nSELECT\n  title, location, salary_standardized, salary\nFROM\n  `hultaibigdata.jobs_data_analyst.postings`\nORDER BY salary_standardized DESC\nLIMIT 3;\n'}, {'role': 'user', 'content': 'Show titles, company names, and dates of 5 most recent job posts'}, {'role': 'assistant', 'content': '\nSELECT\n  title, company_name, date_time\nFROM\n  `hultaibigdata.jobs_data_analyst.postings`\nORDER BY date_time DESC\nLIMIT 5;\n'}, {'role': 'user', 'content': 'What are the top 10 most commonly mentioned skills?'}, {'role': 'assistant', 'content': '\nSELECT\n  list.element AS skill, COUNT(*) AS frequency\nFROM\n  `hultaibigdata.jobs_data_analyst.postings`, UNNEST(description_tokens.list) AS list\nGROUP BY skill\nORDER BY frequency DESC\nLIMIT 10;\n'}, {'role': 'user', 'content': 'Show the top 5 listing channels for job posts with their post counts.'}, {'role': 'assistant', 'content': '\nSELECT\n  via, count(*)\nFROM\n  `hultaibigdata.jobs_data_analyst.postings`\nGROUP BY via\nORDER BY count(*) DESC\nLIMIT 5;\n'}, {'role': 'user', 'content': 'What are the top 10 locations offering the highest salaries excluding working from home?'}, {'role': 'assistant', 'content': '\nSELECT location,\n  AVG(salary_standardized) AS mean_salary\nFROM `hultaibigdata.jobs_data_analyst.postings`\nWHERE salary_standardized IS NOT NULL\nAND (work_from_home IS NULL OR work_from_home IS FALSE)\nGROUP BY location\nORDER BY mean_salary DESC\nLIMIT 10;\n'}, {'role': 'user', 'content': 'What is the average salary of full-time jobs?'}, {'role': 'assistant', 'content': "\nSELECT\n  AVG(salary_standardized)\nFROM\n  `hultaibigdata.jobs_data_analyst.postings`\nWHERE\n  schedule_type = 'Full-time';\n"}, {'role': 'user', 'content': 'What percent of job posts provide salary information?'}, {'role': 'assistant', 'content': '\nSELECT\n  100*count(salary_standardized) / count(*)\nFROM\n  `hultaibigdata.jobs_data_analyst.postings`;\n'}, {'role': 'user', 'content': 'What is the mean annual salary among the posts where salary information is given?'}, {'role': 'assistant', 'content': '\nSELECT\n  AVG(salary_standardized)\nFROM\n  `hultaibigdata.jobs_data_analyst.postings`;\n'}, {'role': 'user', 'content': 'What are the top 5 most common job titles?'}]
LLM Response: SELECT
  title, COUNT(*)
FROM
  `hultaibigdata.jobs_data_analyst.postings`
GROUP BY title
ORDER BY COUNT(*) DESC
LIMIT 5;
Extracted SQL: SELECT
  title, COUNT(*)
FROM
  `hultaibigdata.jobs_data_analyst.postings`
GROUP BY title
ORDER BY COUNT(*) DESC
LIMIT 5;
Info: None
None
SQL Prompt: [{'role': 'system', 'content': "You are a BigQuery SQL expert. Please help to generate a SQL query to answer the question. Your response should ONLY be based on the given context and follow the response guidelines and format instructions. \n===Tables \n\nCREATE TABLE `hultaibigdata.jobs_data_analyst.postings`\n(\n  title STRING,\n  company_name STRING,\n  location STRING,\n  via STRING,\n  description STRING,\n  extensions STRING,\n  posted_at STRING,\n  schedule_type STRING,\n  work_from_home BOOL,\n  salary STRING,\n  search_term STRING,\n  search_location STRING,\n  commute_time FLOAT64,\n  salary_pay STRING,\n  salary_rate STRING,\n  salary_avg FLOAT64,\n  salary_min FLOAT64,\n  salary_max FLOAT64,\n  salary_hourly FLOAT64,\n  salary_yearly FLOAT64,\n  salary_standardized FLOAT64,\n  description_tokens STRUCT<list ARRAY<STRUCT<element STRING>>>,\n  index INT64,\n  date_time TIMESTAMP\n);\n\n\n\nCREATE TABLE `hultaibigdata.jobs_data_analyst.postings`\n(\n  title STRING,\n  company_name STRING,\n  location STRING,\n  via STRING,\n  description STRING,\n  extensions STRING,\n  posted_at STRING,\n  schedule_type STRING,\n  work_from_home BOOL,\n  salary STRING,\n  search_term STRING,\n  search_location STRING,\n  commute_time FLOAT64,\n  salary_pay STRING,\n  salary_rate STRING,\n  salary_avg FLOAT64,\n  salary_min FLOAT64,\n  salary_max FLOAT64,\n  salary_hourly FLOAT64,\n  salary_yearly FLOAT64,\n  salary_standardized FLOAT64,\n  description_tokens STRUCT<list ARRAY<STRUCT<element STRING>>>,\n  index INT64,\n  date_time TIMESTAMP\n);\n\n\n===Response Guidelines \n1. If the provided context is sufficient, please generate a valid SQL query without any explanations for the question. \n2. If the provided context is almost sufficient but requires knowledge of a specific string in a particular column, please generate an intermediate SQL query to find the distinct strings in that column. Prepend the query with a comment saying intermediate_sql \n3. If the provided context is insufficient, please explain why it can't be generated. \n4. Please use the most relevant table(s). \n5. If the question has been asked and answered before, please repeat the answer exactly as it was given before. \n"}, {'role': 'user', 'content': 'What are the top 10 locations offering the highest salaries excluding working from home?'}, {'role': 'assistant', 'content': '\nSELECT location,\n  AVG(salary_standardized) AS mean_salary\nFROM `hultaibigdata.jobs_data_analyst.postings`\nWHERE salary_standardized IS NOT NULL\nAND (work_from_home IS NULL OR work_from_home IS FALSE)\nGROUP BY location\nORDER BY mean_salary DESC\nLIMIT 10;\n'}, {'role': 'user', 'content': 'What percent of job posts allow working from home (remote)?'}, {'role': 'assistant', 'content': '\nSELECT\n  100*count(work_from_home) / count(*)\nFROM\n  `hultaibigdata.jobs_data_analyst.postings`;\n'}, {'role': 'user', 'content': 'Show the description and salary specification of the lowest paying job in the entire dataset'}, {'role': 'assistant', 'content': '\nSELECT\n  description, salary\nFROM\n  `hultaibigdata.jobs_data_analyst.postings`\nWHERE salary_standardized IS NOT NULL\nORDER BY salary_standardized ASC\nLIMIT 1;\n'}, {'role': 'user', 'content': 'What are the top 5 most common job titles?'}, {'role': 'assistant', 'content': '\nSELECT\n  title, COUNT(*)\nFROM\n  `hultaibigdata.jobs_data_analyst.postings`\nGROUP BY title\nORDER BY COUNT(*) DESC\nLIMIT 5;\n'}, {'role': 'user', 'content': 'What are the title, location, salary, and salary specification for the top 3 highest paying jobs in the entire dataset?'}, {'role': 'assistant', 'content': '\nSELECT\n  title, location, salary_standardized, salary\nFROM\n  `hultaibigdata.jobs_data_analyst.postings`\nORDER BY salary_standardized DESC\nLIMIT 3;\n'}, {'role': 'user', 'content': 'What percent of job posts provide salary information?'}, {'role': 'assistant', 'content': '\nSELECT\n  100*count(salary_standardized) / count(*)\nFROM\n  `hultaibigdata.jobs_data_analyst.postings`;\n'}, {'role': 'user', 'content': 'What percent of job posts appearing since January 2023 provide salary information?'}, {'role': 'assistant', 'content': "\nSELECT\n  100*count(salary_standardized) / count(*)\nFROM\n  `hultaibigdata.jobs_data_analyst.postings`\nWHERE\n  date_time > DATE('2023-01-01');\n"}, {'role': 'user', 'content': 'What is the average annual salary for each of the top 15 job titles?'}, {'role': 'assistant', 'content': '\nSELECT title,\n  AVG(salary_standardized) AS mean_salary\nFROM `hultaibigdata.jobs_data_analyst.postings`\nWHERE salary_standardized IS NOT NULL\nGROUP BY title\nORDER BY mean_salary DESC\nLIMIT 15;\n'}, {'role': 'user', 'content': 'Show the top 5 listing channels for job posts with their post counts.'}, {'role': 'assistant', 'content': '\nSELECT\n  via, count(*)\nFROM\n  `hultaibigdata.jobs_data_analyst.postings`\nGROUP BY via\nORDER BY count(*) DESC\nLIMIT 5;\n'}, {'role': 'user', 'content': 'What is the average salary of full-time jobs?'}, {'role': 'assistant', 'content': "\nSELECT\n  AVG(salary_standardized)\nFROM\n  `hultaibigdata.jobs_data_analyst.postings`\nWHERE\n  schedule_type = 'Full-time';\n"}, {'role': 'user', 'content': 'What locations have the lowest number of jobs?'}]
LLM Response:
intermediate_sql
```sql
SELECT
  location, COUNT(*) AS job_count
FROM
  `hultaibigdata.jobs_data_analyst.postings`
GROUP BY
  location
ORDER BY
  job_count ASC;
```
Extracted SQL: SELECT
  location, COUNT(*) AS job_count
FROM
  `hultaibigdata.jobs_data_analyst.postings`
GROUP BY
  location
ORDER BY
  job_count ASC;
Running Intermediate SQL: SELECT
  location, COUNT(*) AS job_count
FROM
  `hultaibigdata.jobs_data_analyst.postings`
GROUP BY
  location
ORDER BY
  job_count ASC;